body {
    margin: 0;
}

#navbar {
    width: 100%;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    padding-left: 20px;
    box-sizing: border-box;
    align-items: center;
}

#navbar img {
    width: 50px;
    height: 50px;
}

#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    color: black;
    font-size: 20px;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    position: relative;
}

#navbar ul li a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transition-duration: 0.5s;
}

#navbar ul li a:hover::after {
    width: 100%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    /*
    transition-duration: 0.5s;
    transition-property: transform, background-color;
    transition-delay: 1s;
    transition-timing-function:linear;
*/
    transition: all 2s linear 1s;
    /*    transform:translate(100px, 50px) rotate(45deg) scale(2,0.3) skew(45deg);*/
    /*    translateX(100px) translateY(200px)
    scaleX(2)*/
}

.box:hover {
    transform: rotate(360deg) scale(1.5);
    background-color: red;
}

.card {
    width: 300px;
    background-color: aqua;
    padding: 20px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    transition: all 0.7s linear;
}

.img-contener:hover img {
    transform: scale(2);
}

.img-contener {
    overflow: hidden;
    cursor: url("../Image/scsccs.png"), pointer;
}