body {
    
    margin: 0;
   margin-bottom: 100px;
    background-color: darkgrey;
 
}


#navbar {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    padding-left: ;
    box-sizing: border-box;
    position: sticky;
    top: 0;
   z-index: 999999;
    
}

#navbar img {
    width: 60px;
    height: 60px;
}

#navbar ul li {
    display: inline-block;
}
#navbar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    display: block;
}
.conteiner { 
text-align: center;

    background-color: dimgray;
    margin: 0 auto;
    color: #fff;
    height: 600px;
    padding-top: 50px;
    width: 100%;

}

.conteiner h1 {
    font-size: 70px;
    font-family: sans-serif;
    margin-top: 0;
    
}

.conteiner button {
    background-color: #444;
    color: #fff;
    border-radius:30px;
    width: 150px;
    height: 30px;
   
    border: 0;
}
.conteiner button:hover {
    background-color: darkblue;
}
.conteiner p {
    padding-bottom: 40px;
    font-size: 17px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
   display: flex;
   margin-top: 80px;
     width: 80%;
    margin: 0 110px;
    justify-content: space-between;
    padding-bottom: 300px;
        position: absolute;
    top: 500px;
    
    
}

.box-1 {
    width: 30%;
    padding: 20px;
    background-color: #fff;
     box-sizing: border-box;
    text-align: center;
    padding-bottom: 40px;
   
}
.box-1 img {
    width: 200px;
    height: 250px;
}

